@import '../variables';

.field {
  z-index: 1;
  // align-self: stretch;

  & label {
    color: #999999;
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.CodeMirror {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // height: 100%;
}

.react-codemirror2 {
  height: 100%;
}

.resizer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  cursor: col-resize;
  user-select: none;

  &:hover {
    & svg {
      fill: rgba(#000000, 0.4);
    }
  }

  & svg {
    fill: rgba(#000000, 0.2);
  }
}
