@import '../variables';


.field {
  position: relative;
  width: 100% ;
  margin: 0 10px;
  height: 100%;
  // bottom: 50px;

  & label {
    color: #999999;
    margin-bottom: 3px;
  }



  & textarea {
    // position: absolute;
    position: relative;
    // display: inline-block;
    resize: none;
    background: $c-white;
    width: 100%;
    height: calc(100% - 21px);


    border: 1px solid rgba(0, 0, 0, 0.2);
    // box-sizing: border-box;
    border-radius: 5px;
  }
}

.CodeMirror {
  height: 100%;
}
